body, html {
    height: 100vh;
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: Arial, sans-serif;
    background-color: black;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 25rem;
    max-width: 95%;
    padding: 1.25rem;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
}

*, *::before, *::after {
    box-sizing: border-box;
}

#inputZone {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    width: 100%;
    padding: 0;
    margin: 0 auto;
}
.input-group {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.625rem;
    margin-bottom: 0.625rem;
    border: 0.1rem solid #97C4E0;
    border-radius: 0.3125rem;
    background-color: #d3d3d3;
    width: 100%;
}

.input-group span, .input-group p {
    margin: 0;
    flex: 1;
}

.input-group span {
    text-align: left;
    margin-right: 0.625rem;
}

.input-group p {
    text-align: right;
}
#keypad {
    width: 80%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 0.375rem;
    margin: 0 auto;
}

#keypad button {
    width: 80%;
    padding: 0.9375rem;
    font-size: 1.125rem;
    background-color: #d3d3d3;
    color: black;
    border: 0.1rem solid #97C4E0;
    border-radius: 0.3125rem;
    cursor: pointer;
    transition: background-color 0.3s;
}
#keypad button:hover {
    background-image: linear-gradient(to right, #d3d3d3, #97C4E0);
}

#inputZone, #liveZone, #inclineZone {
    text-align: center;
    margin-bottom: 1.25rem;
}

#inclineZone p, #liveZone p {
    cursor: pointer;
    color: white;
    transition: color 0.3s;
    font-size: 1rem;
    margin: 0.5rem 2rem 0 0;
}


@keyframes flash {
    0%, 100% { opacity: 1; }
    50% { opacity: 0; }
}

.active-input::after {
    content: "|";
    margin-left: 5px;
    color: black;
    font-weight: bold;
    animation: flash 0.8s infinite;
}

#liveZone {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-top: 1rem;
    margin-bottom: 0;

}
#inclineZone {
    margin-top: 0;
}

#liveZone p {
    color: white;
    font-size: 2.3vh;
    margin-right: 2rem;
}


#Start {
    padding: 0.625rem 1.25rem;
    font-size: 1rem;
    background-color: #d3d3d3;
    margin-right: 1.2rem;
    color: black;
    border: 0.1rem solid #97C4E0;
    border-radius: 0.6rem;
    cursor: pointer;
    outline: none;
    box-shadow: 0 0.125rem 0.25rem rgba(0,0,0,0.2);
    transition: all 0.3s ease;
}



#Start:hover {
    box-shadow: 0 0.25rem 0.5rem rgba(0,0,0,0.3);
    background-image: linear-gradient(to right, #d3d3d3, #97C4E0);
}

#Start:active {
    box-shadow: inset 0 0.125rem 0.25rem rgba(0,0,0,0.2);
    transform: translateY(0.125rem);
}



